
body{
    display: flex;
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    margin: auto;
    /* overflow: scroll; */
}

#container {
    display: inline-block;
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    /* min-width: 800px; */
    padding: 0;
    border: 2px dotted rgb(15, 78, 253);
    margin: auto;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    align-content: center;
    
}
#header{
    display: flex;
    position: relative;
    flex-direction: column;
    top: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    z-index:99;
}
h1{
    /* display: inline-flex; */
    position: relative;
    top: -93px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(50, 18, 231);
    /* font-family: 'Londrina Shadow', cursive; */
    font-family: 'Modak', cursive;
    font-size: 100px;
    font-style: normal;

    color: rgb(207, 28, 28);
    text-shadow: 4px 4px 5px #000000;
    /* font-family: 'Roboto', sans-serif;       */
    z-index:100;
}
#menuBoardImg{
    width: 100%; 
    height: auto;
}
#menuBoard {
    display: inline-flex;
    position: relative;
    width: 513px;
    /* height: auto; */
    z-index: 6;
    top: -215px;
    margin: auto;
    /* left: -200px; */
    
    /* background-color:salmon; */
    /* visibility: hidden; */
}
#game {
    display: flex;
    position: relative;
    bottom: 230px;
    left: 0;
    width: 1000px;
    height: auto;
    padding: 0px;
    border: 2px dotted rgb(15, 78, 253);
    margin: auto;
    margin-top: 0px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
#nextCustomerButtonImg{
    width: 100%; 
    height: auto;
}
#nextCustomerButton {
    display: inline-flex;
    position: absolute;
    width: 201px;
    /* height: auto; */
    z-index: 7;
    top: 165px;
    left: -66px;
    /* visibility: hidden; */
}
#sliceButtonImg{
    width: 100%; 
    height: auto;
}
#sliceButton {
    display: inline-flex;
    position: absolute;
    width: 201px;
    /* height: auto; */
    z-index: 7;
    top: 73px;
    left: -66px;
    /* visibility: hidden; */
}
#shiftDurationImg {
    width: 100%; 
    height: auto;
}
#shiftDuration {
    display: inline-flex;
    position: absolute;
    width: 351px;
    /* height: auto; */
    z-index: 7;
    top: 13px;
    right: 221px;
    /* visibility: hidden; */
}
#counterTop{
    display: inline-flex;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 4;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
}
#timeModalImg{
    width: 100%; 
    height: auto;
}
#timeModal {
    display: inline-flex;
    position: absolute;
    width: 214px;
    /* height: auto; */
    z-index: 7;
    bottom: 473px;
    right: 7px;
    /* visibility: hidden; */
}
#emptyFridgeImg{
    width: 100%; 
    height: auto;
}
#emptyFridge {
    display: inline-flex;
    position: absolute;
    width: 643px;
    height: auto;
    z-index: 7;
    top: 91px;
    left: 365px;
    /* visibility: hidden; */
}

#fridgeCheeses {
    /* border: 2px dotted blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    width: 289px;
    height: 80px;
    left: 191px;
    top: 36px;
    z-index: 99;
    align-items: center;
    /* margin: 0; */
}
#provoloneButtonImg{
    width: 100%; 
    height: auto;
}
#provoloneButtonWrap{
    width: 70px;
    height: auto;
}
#swissButtonImg{
    width: 100%; 
    height: auto;
}
#swissButtonWrap{
    width: 80px;
    height: auto;
}
#americanButtonImg{
    width: 100%; 
    height: auto;
}
#americanButtonWrap{
    width: 80px;
    height: auto;
}
#fridgeMeats {
    /* border: 2px dotted blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 543px;
    height: 80px;
    left: 70px;
    top: 141px;
    z-index: 99;
    align-items: center;
    /* margin: 0; */
}
#turkeyButtonImg{
    width: 100%; 
    height: auto;
}
#turkeyButtonWrap{
    
    width: 90px;
    height: auto;
}
#hamButtonImg{
    width: 100%; 
    height: auto;
}
#hamButtonWrap{
    width: 90px;
    height: auto;
}
#cappicolaButtonImg{
    width: 100%; 
    height: auto;
}
#cappicolaButtonWrap{
    width: 80px;
    height: auto;
}
#prosciuttiniButtonImg{
    width: 100%; 
    height: auto;
}
#prosciuttiniButtonWrap{
    width: 104px;
    height: auto;
}
#salamiButtonImg{
    width: 100%; 
    height: auto;
}
#salamiButtonWrap{
    width: 85px;
    height: auto;
}
#pepperoniButtonImg{
    width: 100%; 
    height: auto;
}
#pepperoniButtonWrap{
    width: 85px;
    height: auto;
}
#breadBasketToggleImg{
    width: 100%; 
    height: auto;
}
.fridgeButton{
    /* padding: 0 8px; */
}
#breadBasketToggle {
    display: inline-flex;
    position: absolute;
    width: 216px;
    /* height: auto; */
    z-index: 8;
    bottom: 10px;
    right: 32px;
    /* visibility: hidden; */
}
#breadBasketImg{
    width: 100%; 
    height: auto;
}
#breadBasket {
    display: inline-flex;
    position: absolute;
    width: 216px;
    /* height: auto; */
    z-index: 9;
    bottom: 10px;
    right: 32px;
    /* visibility: hidden; */
}
#cueImg{
    width: 100%; 
    height: auto;
}
#emptyCue {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 665px;
    /* height: auto; */
    z-index: 6;
    bottom: 6px;
    left: 3px;
    /* visibility: hidden; */
}
.cueFrame {
    position: relative;
    display: block;
    width: 75px;
    height: 230px;
    top: -25px;
    left: 0px;
    overflow: visible;
    padding-left: 3px;
    
    /* background-color: rgba(red, green, blue, 0.5 ); */
    border-style: none;
}
#cueContainer{
    display: inline-flex;
    position: absolute;
    flex-direction: row;
    width:665px;
    height:179px;
    z-index: 10;
    padding-top: 55px;
    padding-left: 18px;
    /* visibility: hidden; */
}
#counterImg{
    width: 100%; 
    height: auto;
}
#customer {
    display: inline-flex;
    position: absolute;
    left: 113px;
    top: 1px;
    z-index: 1;
    width: 254px;
    height: auto;
}
#bg {
    position: relative;
    display: flex;
    z-index: 0;
}
#bgImg{
    width: 100%; 
    height: auto; 
    /* visibility: hidden; */
}
